.container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px;
}

.name,
.number {
  font-size: 20px;
}

.contactsInfo {
  display: flex;
  gap: 12px;
}

.button {
  border: none;
  border-radius: 4px;
  background-color: rgb(143, 141, 141);
  padding: 4px 8px;
  font-size: 12px;
}
